@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-size: 60px;
  line-height: 74px;
  color: #222;
  font-weight: 600;
}

h2 {
  font-size: 56px;
  line-height: 64px;
  color: #222;
  font-weight: 600;
}

h4 {
  font-size: 30px;
  color: #222;
}

h6 {
  font-size: 22px;
  font-weight: 650;
  color: #222;
}

p {
  font-size: 26px;
  color: #465b52;
  margin: 15px 0px 20px 0px;
}

.navbar {
  background-color: #f6faf5;
  box-shadow: 0 1px 12px #2c6b34;
  z-index: 12345;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav img {
  width: 8rem;
  margin-right: 68rem;
  margin-left: 1.2rem;
}

.nav-link {
  color: #378441;
  font-weight: 500;
  padding-right: 1.1rem;
  font-size: 16px;
}

.nav-link:hover {
  color: #04440d;
}

#hero {
  height: 100vh;
  background-color: #f6faf5;
}

.herotext {
  margin-top: 16rem;
}

span {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #0a9b1a 0, #17718c);
  -webkit-background-clip: text;
}

#heroContent {
  display: flex;
  justify-content: space-around;
}

#heroContent video {
  margin-top: 13.6rem;
  border-radius: 1rem;
}

.howWork {
  margin: 100px 150px;
  text-align: center;
}

.howWork h2 {
  text-decoration: underline;
  margin-bottom: 70px;
  text-decoration-thickness: 3px;
}

.howWorkFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  margin-top: 25px;
  text-align: center;
  padding: 30px 80px;
  font-weight: 500;
  background-color: #0d8f3a;
  border-radius: 20px;
  box-shadow: 5px 5px 2px 1px rgb(62, 131, 77, 0.4);
  animation: ease-in-out;
}

.card:hover {
  transform: scale(1.02);
  animation: ease-in-out;
}

.card p {
  color: white;
}

/* header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    margin-bottom: 16px;
    background-color: #f6faf5;
    box-shadow: 0 1px 12px #2c6b34;    
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 12399;
}

navbar{
    background: #f6faf5;
    box-shadow: 0 1px 12px #2c6b34;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 125252525;
}

#navbar ul{
    display: flex;
    list-style: none;
}

#navbar ul li{
    font-size: 18px;
    font-weight: 600;
    position: relative;
}

#navbar ul li a{
    padding: 0px 20px;
    text-decoration: none;
    color: #097404;
    font-weight: lighter;
    transition: 0.3s ease;
}

#navbar ul li a.active{
    color: rgb(61, 116, 128);
}

#navbar ul li a:hover{
    color: rgb(36, 101, 54);
}

#navbar li a.active::after{
    content:"";
    width: 40%;
    height:2.4px;
    background:#606766;
    position:absolute;
    bottom:-4px;
    left:20px;
}

.herotext{
    margin-top: 16rem;
    margin-left: 8rem;
}
span{
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg,#0a9b1a 0,#17718c);
    -webkit-background-clip: text;
}

#hero{
    display: flex;
    justify-content: space-around;
    background-color: #f6faf5;
    background-position: bottom;
    background-repeat: no-repeat,no-repeat;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat,no-repeat;
    background-size: cover;
    height: 100vh
}
video{
    border: none;
    overflow: hidden;
    margin-top: 5rem;
    border-radius: 1rem;
} */
